/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}




}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-image:url(../img/background.jpg) repeat center top; */
   /*  background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    ); */
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    /*height:100%;*/
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
   /*background-color: #fff8dc; */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:10%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:200px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.menu{

}

.info {
    position: absolute;
    right: 150px;
    top: 50px;
    width: 100px;
    border:1px solid;
    border-radius: 5px;
    text-align:center;
}
.dropdown {
    margin-top:20px;
    width: 200px;
    height: 100px;
    background: #ccc;
    position: absolute;
    left: 15px;
    top: 40px;
    display: none;
}

.ui-page { background: gray;}

.topbar{
padding:0px;
margin-top:17px;
height:36px;
background-color: #000000;
vertical-align: middle;
display:inline-block;

}

.topbartext{
background-color:#FFFFFF;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.topbar-button{
    width:10%;
    height:80;
    vertical-align: middle;
    border:1px;
    border-radius:5px;
    display:inline-block;
}


.topbar img{
    width:10%;
    height: 80%;
    vertical-align: middle;
    display:inline-block;
}

.title{
background-color: #505050;
padding: 0px;
text-align: center;
height:36px;
margin-top: 17px;
}

.title a
{
float: left;
position: absolute;
}

h3{
font-family :"Arial Rounded MT Bold";
font-weight: bold;
font-size: 13px;
color: #C8C8C8;
margin:0px;
text-align: center;
margin-top:5px;



}
.guidelinetext
{
font-family: "Helvetica Neue", "Helvetica";
font-style: "Light";
font-weight: none;
overflow: hidden;
font-size: 15px;

margin:5px;

}
.images {
width:100%; 
height:auto;
}



.infotext
{
font-family: "Helvetica Neue", "Helvetica";
font-style: "Light";
font-weight: none;
overflow: hidden;
font-size: 12px;
line-height: 20px; 
vertical-align: middle;
margin-bottom:2px;
margin-left:-5px;
}

.anstext
{
font-family: "Helvetica Neue", "Helvetica";
font-style: "Light";
font-weight: none;
overflow: hidden;
font-size: 15px;
vertical-align: middle;
margin-bottom:2px;
margin-left:-5px;
}
.infotexttitle
{
font-family: "Helvetica Neue", "Helvetica";
color:#005dff;
font-style: "Light";
font-weight: bold;
overflow: hidden;
font-size: 18px;
margin-bottom:2px;
}

.picgridtext
{
font-family: "Helvetica Neue", "Helvetica";
font-style: "Light";
color:white;
text-shadow: -0.8px 0 black, 0 0.8px black, 0.8px 0 black, 0 -0.8px black;
font-weight: none;
overflow: hidden;
font-size: 6px;
font-weight:bold;
text-align: center;
vertical-align: middle;
margin:5px;
margin-top: 15px;

}

.infob {
height:27px;
width:27px;
float:right;
border-radius:8px;
border-top: 1px solid #A0A0A0;
border-right: 1px solid #383838;
border-bottom: 1px solid #383838;
border-left: 1px solid #A0A0A0;
background-color:black;
margin-right:8px;
margin-top:-12px;
}
body .ui-footer .ui-title {
 white-space: normal;
}

.grid {
height:75px;
width:86.5px;
display: inline-block;
float: left;
margin-left: 5.5px;
margin-right: 5.5px;
margin-bottom: 10px;
border-radius:10px;
background-color: #C8C8C8;
}

.gridtext
{
font-family: "Helvetica Neue", "Helvetica";
font-style: "Light";

overflow: hidden;
font-size: 10.5px;
text-align: left;
vertical-align: middle;
margin:2px;
margin-top:4px;
color:white;
}


.listbutton {

margin:0px;
width:100%;
height:25px;
font-family: "Arial MT Bold"; 
font-size: 10px;
font-weight: bold;
line-height: 25px;
}

.table {
width:100%;
height:70px;
margin:0px;
}

.containing-element .ui-slider-switch { width: 9em }

/* Portrait layout (default) */
.landing {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    background-size: 210px 200px;
   /*background-color: #3399FF; */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:35%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:200px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .landing {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-family: {Verdana, Geneva, sans-serif}
    font-size:17px;
    font-weight:bold;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
